doctype html
html
  head
    title Poker Stars
    link(rel='stylesheet' href='../../public/stylesheets/style.css')
  body
    ul
      li
        a(href ="/") Home
      li
        a(href ="/signup") Signup
      li
        a(href ="/login") Login
      li
        a(href ="/lobby") Lobby (authenticated)

    block content
