<nav id="navbar" class="navbar">
  <div id="nav-container" class="nav-container">
    <ul>
      <li class="nav-item"><a href="/">Home</a></li>
      <li class="nav-item"><a href="/lobby">Lobby</a></li>
      <li class="nav-item">{{game_title}} Gameroom ({{game_id}})</li>
    </ul>
    <form action="/logout" method="get">
      <button type="submit">Logout</button>
    </form>
  </div>
</nav>