.container {
  position: relative;
  margin: auto;
}

.upper {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.middle {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.lower {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.game-console {
  display: flex;
  justify-content: space-between;
}

.actions {
  display: grid;
  grid-template-columns: 50% 50%;
}

.hand {
  display: flex;
}
