html { 
  background: url("../images/background/gameplay.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
  position: relative;
  margin: auto;
}

nav {
  border-bottom: 1px solid black;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ol {
  list-style-type: none;
  padding-left: 0;
}

.nav-item {
  display: inline-block;
}

.nav-item a::after {
  display: inline-block;
  color: #000;
  content: ">";
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}

.upper {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.middle {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.lower {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.game-console {
  display: flex;
  justify-content: space-between;
}

.actions {
  display: grid;
  grid-template-columns: 50% 50%;
}

.hand {
  display: flex;
}
