<h1>Game ID {{game_id}}</h1>
<div class="container">
  <div class="upper">
    <div id="player3" class="hand">
      <div class="card back-blue"></div>
      <div class="card back-blue"></div>
    </div>
    <div id="player4" class="hand">
      <div class="card back-red"></div>
      <div class="card back-red"></div>
    </div>
  </div>
  <div class="middle">
    <div id="cc1" class="commonCard">
      <div class="card"></div>
    </div>
    <div id="cc2" class="commonCard">
      <div class="card"></div>
    </div>
    <div id="cc3" class="commonCard">
      <div class="card"></div>
    </div>
    <div id="cc4" class="commonCard">
      <div class="card"></div>
    </div>
    <div id="cc5" class="commonCard">
      <div class="card"></div>
    </div>
  </div>
  <div class="lower">
    <div id="player2" class="hand">
      <div class="card back-red"></div>
      <div class="card back-red"></div>
    </div>
    <div id="chat" class="chat">
      <div id="messages" class="chat-messages">
        <span class="sender"></span>
        <span class="content"></span>
        <span class="timestamp"></span>
      </div>
    </div>
    <div id="player1" class="hand">
      <div id="card11" class="card"></div>
      <div id="card12" class="card"></div>
    </div>
  </div>
  <div class="game-console">
    <div class="actions">
      <button id="fold">Fold</button>
      <button id="check">Check</button>
      <button id="call">Call</button>
      <button id="bet">Bet</button>
      <button id="raise">Raise</button>
    </div>
    <div class="chat">
      <div class="messages"></div>
      <textarea
        name="message-field"
        id="message-field"
        cols="30"
        rows="2"
        placeholder="Enter message"
      ></textarea>
    </div>
    <div class="stats">Stats</div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="../../public/js/setup.js"></script>
<script src="../../public/js/game-chat.js"></script>
<script src="../../public/js/game-management.js"></script>