doctype html
html
  head
    title=title
    link(rel='stylesheet', href='../../public/stylesheets/style.css')
  body
    ul
      li
        a(href ="/") Home (Unauthenticated page)
      li
        a(href ="/logout") Logout

    block content
    block footer