extends layout

block content
  h1 Lobby page (authenticated)
  if username
    h2 Welcome #{username} (#{userID})

  #games-list
    ul
    form(action="/gameroom/create" method="POST")
      label(for="title") Title (optional):
      input#title(type="text" name="title")
      button#create-game(type="submit") Create New Game

  template#message
    span.sender
    span.content
    span.timestamp

  #chat
    #messages
    #send
      input(type="text" id="message-field")

block footer
  script(src="/socket.io/socket.io.js")
  script(src="../../public/js/setup.js")
  script(src="../../public/js/chat.js")
  script(src="../../public/js/game-management.js")