extends layout

block content
  h1 Lobby page (authenticated)
  if username
    h2 Welcome #{username} (#{userID})

  template#message
    span.sender
    span.content
    span.timestamp

  #chat
    #messages
    #send
      input(type="text" id="message-field")

block footer
  script(src="/socket.io/socket.io.js")
  script(src="../../public/js/chat.js")